@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image:url(assets/back.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    
}

main{
    display: flex;
    gap: 50px;
    margin: 4em;
}

#carrinho, #quantidade, #valor,#valorTotal{
    margin: 3em;
}

nav {
    
    background-color: black;
    max-width: 100%;
    max-height: 10em;
    padding-left: 2%;
    
}


#logopng {

    width: 15vh;
    height: 15vh;
}

.menu {

    color:#FFC145 ;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 90%;
    

}

.buttontxt {
    font-family: 'Permanent Marker';
    text-decoration: none;
    color: #FFC145;
    font-size: 30px;
    margin-left: 4vh;
}

.container  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;

}

.menucont {
    width: 15%;
}

.button {

    text-decoration: none;
    color: black;
    padding: 60%;
    margin-left: 3%; 
       
}

.box {

    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 10vh;
    min-height:10vh ;
    
}

@media screen and (min-width: 900px ) {
    .box {
        margin-left: 40vh;
    }

    .buttoncardapio {
        margin-left: 55vh;
    }

    .menucont {
        margin-left: 15%;
        
    }
    
}


.bemvindo {
    margin-left:15vh;

    
}

#logoinicio {

    max-width: 30vh;
    max-height: 30vh;
    min-width: 10vh;
    min-height:10vh ;
    margin-left: 15vh;
}

.ola {
    
    min-width: 5vw;
    
}

.clique {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #FFC145;
    font-size: 30px;
    margin-left: 1vh;
    text-align: center;
    min-width: 10vh;
    min-height:10vh ;
}

.boxbutton {

    align-items: center;
    margin-left: 15vh;
    
}

h3 {
    font-size: 20vh;
}

.cardapio {
    
    text-decoration: none;
    background-color: #FF1616;
    margin-left: 35vh;
    padding: 8px;
    
    
    
}

.buttoncardapio {

    font-family: 'Permanent Marker';
    text-decoration: none;
    background-color: #FF1616;
    color: #FFC145;
    font-size: max(25px, 2vh ) ;
    padding: 8px;
    margin-left: 35vh;
    border-radius: 15px;
    
}

